* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section {
    width: 550px;
    height: 550px;
    border: 1px solid #b4b4b4;
    margin: 10px;
    padding: 100px;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
    color: #808080;
}
img {
    margin-bottom: 10px;
}
